@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$bg: rgb(15, 15, 15);
$bg-light: rgb(55, 55, 55);
$accent: rgb(225, 34, 34);
$accent-light: rgb(255, 255, 255);
$header-font: 'Special Elite', cursive;
$body-font: 'Times New Roman', Times, serif;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    ::-webkit-scrollbar {
        display: none;
    }
}

body, html {
    width: 100%;
    background-color: $bg;
}

section {
    height: 100vh;
    width: 100%;
    @include flexCenter();
    flex-direction: column;
    justify-content: start;
    margin-bottom: 3em;
    padding-top: 2em;
    h2 {
        text-align: center;
        color: $accent;
        font-size: 2em;
        font-family: $header-font;
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        margin-bottom: none;
    }
}

p {
    color: $accent-light;
    font-family: $body-font;
    font-size: 1.1em;
}

img {
    color: $accent-light;
}

#burger {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    font-size: 2em;
    background: none;
    line-height: 70%;
    border: none;
    color: $accent;
}
nav {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: $accent;
    @include flexCenter();
    transition: transform 0.25s ease;
    button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 2em;
        background: none;
        line-height: 70%;
        border: none;
        color: $bg;
    }
    ul {
        list-style: none;
        gap: 1em;
        width: 100%;
        @include flexCenter();
        flex-direction: column;
        li {
            width: calc(2/3 * 100%);
            height: 2.5em;
            padding: 0 1em;
            @include flexCenter();
            justify-content: flex-start;
            border-radius: 15px;
            transition: background-color 0.25s;
            a {
                text-decoration: none;
                color: $bg;
                font-size: 1.3em;
                font-family: $header-font;
                height: 2.5em;
                line-height: 2.75em;
                transition: color 0.25s ease;
                &::after {
                    content: "\25CE";
                    position: absolute;
                    right: 3em;
                    opacity: 0;
                    color: $accent;
                    transition: opacity 0.25s ease;
                }
            }
            &:hover {
                background-color: $bg;
                a {
                    color: $accent-light;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.close {
    transform: translate(-100%);
}

#landing {
    height: 100vh;
    width: 100%;
    @include flexCenter();
    flex-direction: column;
    gap: 2em;
    h1 {
        font-size: 4.5em;
        text-align: center;
        max-width: 90%;
        color: $accent;
        font-family: $header-font;
    }
    h2 {
        color: $accent-light;
        font-size: 1.5em;
    }
}

#about {
    gap: 2em;
    width: 100%;
    height: fit-content;
    > div {
        @include flexCenter();
        flex-direction: column;
        gap: 2em;
        width: 90%;
        p {
            width: calc(min(100%, 600px));
            text-align: center;
        }
        img {
            border: 1px solid $accent-light;
        }
    }
    h3 {
        font-family: $header-font;
        color: $accent;
        font-size: 1.5em;
    }
    ul {
        list-style: none;
        @include flexCenter();
        flex-wrap: wrap;
        div {
            @include flexCenter();
            gap: 1em;
            li {
                color: $accent-light;
            }
        }
    }
}

#creations {
    width: 100%;
    height: fit-content;
    h2 {
        font-size: 2em;
    }
    h4 {
        text-align: center;
        color: $accent-light;
        font-size: 1.3em;
        margin-bottom: 3em;
        span {
            color: $accent;
            font-family: $header-font
        }
    }
    ul {
        @include flexCenter();
        flex-direction: column;
        gap: 3em;
        width: 100%;
        li {
            @include flexCenter();
            flex-direction: column;
            gap: 1em;
            width: calc(min(90%, 1000px));
            h3 {
                font-size: 1.6em;
                font-family: $header-font;
                text-align: center;
                color: $accent;
            }
            .desktop-img-container {
                display: none;
                width: 500px;
                height: 2em;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .header-creation-details {
                @include flexCenter();
                flex-direction: column;
                gap: 1em;
                width: calc(min(100%, 500px));
                .mobile-img-container {
                    width: 90%;
                    height: 2em;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .creation-details {
                    @include flexCenter();
                    flex-direction: column;
                    gap: 1em;
                    p {
                        text-align: center;
                    }
                    .creation-anchor-group {
                        @include flexCenter();
                        justify-content: space-around;
                        width: 50%;
                    }
                    a {
                        text-decoration: none;
                        color: $accent;
                    }
                }
            }
        }
    }
}

#contact {
    height: calc(100vh - 2em);
    width: 100%;
    h2 {
        font-size: 2em;
    }
}

button {
    cursor: pointer;
}

#from-left {
    transform: translate(calc(min(-80vw, 1000px)));
    transition: transform 1s ease-in-out;
}
.from-left {
    transform: translate(0) !important;
}

#from-right {
    transform: translate(calc(min(80vw, 1000px)));
    transition: transform 1s ease-in-out;
}
.from-right {
    transform: translate(0) !important;
}

@media screen and (min-width: 1000px) {
    #about {
        > div {
            flex-direction: row;
        }
    }
    #creations {
        ul {
            li {
                width: calc(min(90%, 1200px));
                justify-content: space-around;
                flex-direction: row;
                .mobile-img-container {
                    display: none;
                }
                .desktop-img-container {
                    display: block;
                }
            }
            :nth-child(1), :nth-child(3) {
                flex-direction: row-reverse;
            }
        }
    }
}